@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.HomePage_FeedFull{

    position: relative;
    left: 6%;
    width: 94%;
    padding-top: 20px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
    
    

    
}
.HomePage_Feed{
    position: relative;
    left: 15%;
    width: 85%;
    padding-top: 20px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;

}
@media screen and (max-width: 800px){
    .HomePage_FeedFull{
        position: relative;
        left: 6%;
        width: 94%;
        padding-top: 20px;
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-y: auto;
    }
    .HomePage_Feed{
        position: relative;
        left: 6%;
        width: 94%;
        padding-top: 20px;
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-y: auto;
    }
}