@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.RecommendedVideos {
    width: 100%;
    height: 120px; 
    display: flex;  
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.3s all;
}

.RecommendedVideos:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.3s all;
}

.RecVideo_ThumbNail {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.RecVideo_ThumbNail img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.RecVideo_Time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
}

.RecVideo_Content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.RecVideo_Title {
    width: 100%;
}

.RecVideo_Title h3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    line-height: 1.4em; /* Adjust as needed */
    max-height: 2.8em; /* Adjust as needed */
    width: 100%;
}

.RecVideo_ChannelName p {
    font-size: 12px;
    color: #333;
}

.RecVideo_Views_Date {
    display: flex;
    font-size: 12px;
    color: #333;
}

.RecVideo_Views_Date div {
    font-size: 10px;
    color: #333;
}
