@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.Comment{
    width: 100%;
    display: flex;
    margin: 10px 0px;
    border: 1px solid black;
    padding: 5px;

}
.Comment_User_Logo{
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;

}
.Comment_User_Logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.Comment_User_Name_Date{
  height: 25px;
  display: flex;
  align-items: center;
  width: 100%;
}
.Comment_User_Name h4{
  font-size: 17px;
}
.Comment_User_Date p{
  font-size: 15px;

}
.Comment_User_Name{
  margin-right: 5px;
}
.Comment_User_Date{
  margin-left: 5px;
}
.Comment_Data{
  width: 90%;
}
.CommentContent{
  font-size: 12px;
}

