@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.VideoPlaying_ParentDiv {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.VideoPlaying_Header {
    height: 12%;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.VideoPlaying_MainContent {
    height: 100%;
    display: flex;
    
    overflow: auto;
    position: relative;
    margin-top: 60px; /* Adjust this based on the height of your header */
}

.VideoPlaying_CurrentVideo {
    width: 80%;
    height: max-content;
}

.VideoPLaying_Recommended_Videos {
    width: 20%;
    background-color: white;
    height: max-content;
}

.VideoPlaying_CurrVideo_Tittle {
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.VideoPlaying_CurrVideo_Tittle h4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    line-height: 1.4em; /* Adjust as needed */
    max-height: 2.8em; /* Adjust as needed */
    width: 100%;
}

.VideoPlaying_ChannelContent {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.VideoPlaying_Channel {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.VideoPlaying_Channel_Logo {
    width: 20%;
    height: 100%;
    margin-right: 10px;
}

.VideoPlaying_Channel_Logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
}

.VideoPlaying_Channel_Options {
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
}

.LikesCount, .UnLikesCount {
    font-size: 12px;
}

.Subscribe {
    background-color: black;
    color: white;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 20px;
    font-weight: 800;
}
.VideoPlaying_AddComment{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}
.VideoPlaying_AddComment_Logo{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.VideoPlaying_AddComment_Logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
}

.VideoPlaying_AddComment_Input{
    width: 70%;
}
.VideoPlaying_AddComment_Input .InputComment{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: vertical;
    padding: 10px;
    border: 1px solid #333;
}
.PostButton button{
    padding: 10px;
    background-color: rgb(0, 143, 199);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.VideoPlaying_CommentList{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

@media screen and (max-width: 768px) {
    
    .VideoPlaying_MainContent {
        flex-direction: column;
    }
    .VideoPlaying_CurrentVideo {
        width: 100%;
    }
    .VideoPLaying_Recommended_Videos {
        width: 100%;
    }
    .VideoPlaying_ChannelContent{
        padding-top: 0px;
    }
    .VideoPlaying_CurrVideo_Tittle{
        padding: 0px 10px;
    }
    .Subscribe{
        font-size: 10px;
    }
    .VideoPlaying_Channel_Name h4, .VideoPlaying_Channel_Name p{
        font-size: smaller;
    }
    .VideoPlaying_Channel_Logo img {
        width: 30px;
        height: 30px;
    }
    .button{
        width: 25%;
        font-size: 8px;
        border: none;
    }
}
